@import url("https://feedyui.netlify.app/library/lib.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff5976;
  --primary-color-light: #e8808acf;
  --primary-color-dark: #e05b66;
  --secondary-color: #fff2f3;
}
